#right {
    float: right;
    width: 45%;
    
}

#left {
    float: left;
    width: 45%;
    
}

header {
    background-color: white;
}

h2 {
    text-align: center;
}

body {
    background-image: url(../images/manga.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

div {
    background-color: gray;
}

.center {
    display: block;
    width: 50%;
    margin: auto;
}