
/* header */

header {
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 20px;
}

.nav {
    display: inline-block;
    margin: 10px 10px;
    width: 32%;
}

/* all pages */

body {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 0px;
    margin: 10px;
}

.center {
    display: block;
    width: 90%;
    margin: 10px auto;
}


h1 {
    padding: 10px 10px 10px 10px;
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 20px;
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    width: 90%;
    margin: auto;
    padding: 20px 0px;
    font-size: larger;
    text-align: justify;
}

div > div {
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 20px;
    padding: 5px;
    margin: 20px 10px;
}

a {
    color: white;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: orangered;
}

hr {
    opacity: 0%;
}

ul {
    padding-inline-start: 0px;
}

/* index */

.right {
    float: right;
    width: 50%;
}

.left {
    float: left;
    width: 50%;
}


.intro {
    text-align: center;
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 20px;
    padding: 5px;
    margin: 20px 10px;
}

#intro {
    text-align: center;
}


/* gallery */

.container {
    width: 19.5%;
    display: inline-block;
}

.images {
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 20px;
}



div > img {
    max-height: 90%;
    max-width: 90%;
}

/* suggestion */

label {
    font-size: x-large;
}

textarea {
    font-size: large;
}

.suggest {
    display: block;
    margin: 10px;
}

.radio {
    margin: 0px 20px;
}

#suggest {
    height: 350px;
    width: 600px;
    margin: 20px 20px;
    border-style: hidden;
}

#container {
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 20px;
    padding: 20px;
}

#radioparagraph {
    width: 100%;
    margin: 10px 0px;
    padding: 35px 0px 0px 10px;
    font-size: x-large;
    text-align: left;
}

#submit {
    padding: 15px;
    border-radius: 10px;
    font-size: large;
    font-family: 'Ubuntu Condensed', sans-serif;
    border-style: hidden;
}

#submit:hover {
    background-color: orangered;
    border-style: hidden;
}

/* footer */

footer {
    height: 100px;
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 20px;
}

.social {
    text-align: center;
    font-size: 240%;
}

li {
    list-style-type: none;
    display: inline;
    margin: 150px;
}

/* media queries */

@media screen and (max-width: 1700px) {
    .nav {
        width: 30%;
    }

    li {
        margin: auto 100px;
    }

    .left {
        margin: 10px auto;
    }
}

@media screen and (max-width: 1200px) {

    .nav {
        width: 30%;
    }

    .left {
        margin-bottom: 70px;
    }

    .container {
        width: 49%;
    }

    ul {
        text-align: center;
    }

    li {
        margin: 50px;
    }
}

@media screen and (max-width: 800px) {
    .nav {
        width: 29%;
    }

    .right {
        width: 100%;
    }

    .left {
        width: 100%
    }

    li {
        margin: auto 15px;
    }

    #suggest {
        width: 540px;
    }
}

@media screen and (max-width: 650px) {
    .container {
        width: 100%;
        display: block;
    }
}

@media screen and (max-width: 500px) {

    .nav {
        width: 20%;
        font-size: smaller;
    }

    .left {
        margin: auto;
    }

    .social > ul {
        font-size: 70%;
    }

}
