.right {
    float: right;
    width: 49.5%;
    
}

.left {
    float: left;
    width: 49.5%;
    
}

header {
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 20px;
}

footer {
    position: fixed;
    display: inline-block;
    bottom: 0px;
    width: 30%;
}

h1 {
    padding: 10px 10px 10px 10px;
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 20px;
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    width: 90%;
    margin: auto;
    padding: 20px 0px;
    font-size: larger;
}

body {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Ubuntu Condensed', sans-serif;
}

div {
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 20px;
    padding: 5px;
    margin: 20px 0px;
}

.nav {
    display: inline-block;
    margin: 10px 10px;
    width: 32%;
}

.center {
    display: block;
    width: 90%;
    margin: auto;
}

a {
    color: white;
}

